* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.containerWrapper {
    width: 100%;
    height: 300vh;
}

.container {
    border-width: 0 0 2px 0;
    border-style: solid;
    border-color: lightgray;

    width: 100%;
    height: 100vh;
}

.headerWrapper {
    width: 100%;
    height: 60px;
    align-items: center;
    margin: 0 auto;
    background-color: white;
    justify-content: space-between;
    display: flex;
}
.headerimage {
    width: 15%;
}
.headerimage img {
    margin-left: 20px;
    width: 130px;
}
.svg-inline--fa {
    margin-right: 10px;
    color: gray;
}
.headermenu {
    display: none;
}
.homeimage {
    height: 50vh;
    width: 100%;
}
.homeimage img {
    max-width: 100%;
    height: 400px;
}
.homebox {
    width: 90%;
    height: calc(50vh - 60px);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.box1 {
    background-color: #4e4ecc;
    margin: 20px 10px 10px 0;
    border-radius: 15px;
    width: 50%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.box2 {
    background-color: #31b85e;
    margin: 20px 0 10px 10px;
    border-radius: 15px;

    width: 50%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.boxcontent {
    width: 50%;
}

.content1 {
    height: 40px;
    font-weight: bold;

    width: 50px;
    border-radius: 5px;
    background-color: #ebfaf0;
    color: #4e4ecc;
    font-size: 0.8rem;
    padding: 3px;
}
.greencontent1 {
    height: 40px;
    width: 50px;
    font-weight: bold;
    border-radius: 5px;
    background-color: #ebfaf0;
    color: #31b85e;
    font-size: 0.8rem;
    padding: 3px;
}
.content2 {
    font-size: 1.2rem;
    margin-top: 20px;
    height: calc(100% - 60px);
    color: white;
    line-height: 30px;
}
.boximage {
    padding-top: 150px;
}
.boximage img {
    width: 100px;
}

.notification {
    height: 60px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.arrow {
    display: flex;
    flex-direction: column;
}
.update {
    width: 80px;
    font-size: 0.9rem;
    color: gray;
}

.menuWrapper {
    position: relative;
    width: 100%;
    height: 250px;
    background-color: #f2f4f6;
    /* border-color: gray; */
}
.menu {
    width: 100%;
    height: 230px;
    position: absolute;
    top: 10px;
    background-color: white;
    font-size: 0.9rem;
}
.menu img {
    margin-bottom: 10px;
    width: 50px;
}

.iconWrapper {
    margin-left: 0.5px;
    margin-top: 20px;
    width: 24%;
    text-align: center;
    display: inline-block;
}
.login {
    display: none;
}
.signup {
    display: none;
}
.resimg {
    display: none;
}
.rescontent {
    display: none;
}
.dropMenuWrapper {
    border-style: solid;
    border-color: lightgray;
    border-width: 1px 0 0 0;
}
.dropMenu {
    border-style: solid;
    border-color: lightgray;
    border-width: 1px 0 0 0;
    /* visibility: hidden; */
    visibility: hidden;
    z-index: 100;
    display: none;
}
.fa-bars {
    margin-right: 20px;
}

@media (min-width: 800px) {
    .dropMenu4 {
        width: 100%;
        height: 30px;
    }
    .hovermenu:hover .dropMenu {
        border-style: solid;
        border-color: lightgray;
        border-width: 1px 0 0 0;
        visibility: visible;
        z-index: 100;
    }
    .dropMenuWrapper {
        width: 100%;
        background-color: white;
    }
    .dropMenu {
        background-color: white;
        flex-wrap: wrap;
        display: flex;
        width: 100%;
        height: 300px;
        position: absolute;
        top: 80px;
    }
    .dropMenu1 {
        width: 15%;
    }
    .dropMenu2 {
        width: 55%;
        display: flex;
    }
    .dropMenu3 {
        width: 30%;
    }
    .dropMenu2Content1 {
        width: 20%;
        text-align: center;
        border-style: solid;
        border-color: lightgray;
        border-width: 0 1px 0 1px;
    }

    .dropMenu2Content2 {
        width: 20%;
        text-align: center;
        border-style: solid;
        border-color: lightgray;
        border-width: 0 1px 0 0;
    }
    .dropMenu2Content3 {
        width: 20%;
        text-align: center;
        border-style: solid;
        border-color: lightgray;
        border-width: 0 1px 0 0;
    }
    .dropMenu2Content4 {
        width: 20%;
        text-align: center;
        border-style: solid;
        border-color: lightgray;
        border-width: 0 1px 0 0;
    }
    .dropMenu2Content5 {
        width: 20%;
        text-align: center;
        border-style: solid;
        border-color: lightgray;
        border-width: 0 1px 0 0;
    }
    .con1 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 20px;
    }
    .con1-1 {
        text-align: left;
        width: 80%;
        margin: 0 auto;
        font-size: 0.9rem;
    }
    .con1-2 {
        padding-top: 10px;
        color: lightgray;
        text-align: left;
        font-size: 0.7rem;
        width: 80%;
        margin: 0 auto;
    }
    .con1-1:hover {
        cursor: pointer;
        color: #31b85e;
    }

    .con2 {
        margin-top: 20px;
    }
    .con3 {
        margin-top: 20px;
    }
    .con4 {
        margin-top: 20px;
    }
    .con5 {
        margin-top: 20px;
    }
    /* .headermenu div:hover {
        
        visibility: visible;
    } */
    /* ///// */

    .headermenu a {
        cursor: pointer;
    }
    .underline {
        position: absolute;
        width: 0;
        top: 65px;
        height: 3px;
        background-color: #36cc68;
        border-radius: 30px;
        transition: 0.5s;
    }
    .login {
        width: 85px;
        padding: 10px;
        display: block;
        text-align: center;
    }
    .signup {
        font-weight: bold;
        display: block;
        width: 95px;
        text-align: center;
        height: 40px;
        background-color: #ebfaf0;
        vertical-align: middle;
        color: #31b85e;
        padding: 10px 5px 10px 5px;
        border-radius: 10px;
    }
    .headermenu {
        height: 100%;
        position: relative;
        font-size: 1.1rem;
        padding: 15px 0 20px 0;
        width: 55%;
        display: flex;
        justify-content: space-around;
    }
    .headermenu div {
        width: 20%;
        display: flex;
        align-items: center;
    }
    .headermenu a {
        /* display: flex; */
        width: 100%;
        /* justify-content: center; */
        text-align: center;
        /* vertical-align: middle; */
    }
    .headermenu div::after {
        position: absolute;
        bottom: 0;
        content: "";
        display: block;
        height: 3px;
        width: 20%;
        background-color: #31b85e;
        transition: 0.3s ease-in-out;
        transform: scaleX(0);
    }
    .headermenu div:hover::after {
        transform: scaleX(1);
    }

    /* .underline {
        position: absolute;
        top: 78px;
        display: block;
        height: 2px;
        width: 20%;
        background-color: #31b85e;
    } */

    .fa-bars {
        display: none;
    }
    .headericon {
        width: 30%;
        display: flex;
        justify-content: flex-end;
    }
    .headericon .signup {
        margin-right: 20px;
    }
    .fa-rotate-right {
        padding: 7px;
    }
    .fa-magnifying-glass {
        padding: 7px;
    }
    .headerWrapper {
        width: 100%;
        height: 80px;
        align-items: center;
        margin: 0 auto;
        background-color: white;
        justify-content: space-between;
        display: flex;
    }

    .iconWrapper {
        margin-top: 0px;
        margin-left: 0.5px;
        width: 12%;
        text-align: center;
        display: inline-block;
    }
    .menuWrapper {
        height: 150px;
    }
    .menu {
        display: flex;
        align-items: center;
        height: 130px;
    }
}

@media (min-width: 1000px) {
    .mainWrapper {
        height: 480px;
        background-color: #f2f4f6;
        padding: 40px;
    }
    .main {
        display: flex;
        width: 90%;
        max-width: 1210px;
        margin: 0 auto;
    }
    .homeimage {
        width: 75%;
    }
    .homeimage img {
        max-width: 100%;
    }
    .homebox {
        width: 23%;
        display: inline-block;
        height: 400px;
    }
    .box1 {
        margin: 0 0 0 20px;

        width: 100%;
        height: 300px;
    }
    .box2 {
        /* margin-left: 20px; */
        width: 100%;
        padding: 0;
        margin: 20px 0 0 20px;
        /* height: 70px; */
    }
    .box2 .greencontent1 {
        display: none;
    }
    .box2 .content2 {
        display: none;
    }
    .box2 .boxcontent {
        display: flex;
        /* width: 100%; */
        padding: 0px 20px;
        height: 80px;

        align-items: center;
    }
    .box2 .boximage {
        width: 0%;
    }
    .resimg {
        display: block;
        color: white;
    }
    .rescontent {
        font-size: 0.9rem;
        display: block;
        margin-left: 12px;
        color: white;
        font-weight: bold;
        width: 100%;
    }
    .box2 .boximage {
        display: none;
    }
    .box1 {
        height: 300px;
        display: inline-block;
    }
    .box1 .content1 {
        height: 25px;
        width: 80px;
        padding: 5px 10px;
    }
    .boxcontent {
        width: 100%;
        height: 50%;
    }
    .boximage {
        width: 100%;
        height: 150px;
        padding: 20px 0 10px 50px;
    }
    .boximage img {
        /* margin-left: 200px; */
        max-width: 110px;
        width: 110px;
    }
}
