* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.containerWrapper {
    width: 100%;
    height: 740vh;
}
.container {
    width: 100%;
    height: 100vh;
    background-color: #e3faea;
    background-size: cover;
}
.headerWrapper {
    width: 100%;
    height: 100px;
}
.header {
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
}
.logo {
    width: 11%;
}
.logo img {
    max-width: 100%;
}

.sectionwrapper {
    width: 100%;
    height: calc(100vh - 100px);
}
.section {
    width: 80%;
    margin: 0 auto;
    display: flex;
}

.textsection {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: calc(100vh - 100px);
}
.text1 {
    font-size: 3rem;
    font-weight: bold;
    position: relative;
    top: 140px;
}
.text2 {
    font-size: 1.4rem;
    color: lightgray;
}
.text3 {
    position: relative;

    bottom: 140px;
}
.text3 button {
    background-color: limegreen;
    width: 150px;
    height: 50px;
    color: white;
    border-radius: 10px;
    border: none;
    font-size: 1.1rem;
}
.imagesection {
    display: flex;
    width: 50%;
    height: calc(100vh - 100px);
}
.imagesection .img1 {
    margin-left: 50px;
    position: absolute;
    max-width: 55%;
    z-index: 10;
    max-height: 55%;
    margin-top: 100px;
    animation: fadeUp 2s;
}
.imagesection .img2 {
    position: relative;
    left: 200px;
    max-width: 85%;
    max-height: 85%;
    animation: fadeUp 1s;
}
.imagesection .img3 {
    position: absolute;
    z-index: 20;
    top: 120px;
    max-width: 20%;
    max-height: 20%;
    animation: fadeIn 4s;
}
@keyframes fadeUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 10%, 0);
        transform: translate3d(0, 10%, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.containerContent {
    width: 100%;
    background-color: black;
    height: 300vh;
    border-radius: 100px;
    color: white;
    margin-top: 50px;
}

.displaywrapper {
    width: 100%;
    height: 300vh;
}
.display1 {
    width: 100%;
    height: 100vh;
}
.display2 {
    width: 100%;
    height: 100vh;
    background-color: lightgrey;
}
.display3 {
    display: flex;
    width: 70%;
    height: 100vh;
    margin-left: 15%;
}

.footerWrapper {
    width: 100%;
    height: 40vh;
}

.footer {
    width: 100%;
    height: 40vh;
    background-color: black;
}
.display1-content {
    position: relative;
    top: 80px;
    width: 70%;
    margin: 0 auto;
    height: 50%;
}
.display1-content-1 {
    color: green;
    font-size: 1.5rem;
    font-weight: bold;
}
.display1-content2 {
    margin-top: 30px;
    width: 320px;
    font-size: 3rem;
    font-weight: bold;
}
.display1-content3 {
    width: 450px;
    font-weight: bold;
    margin-top: 30px;
    font-size: 1.5rem;
    color: lightgray;
}
.display1-img {
    width: 70%;
    margin: 0 auto;
    height: 50%;
}
.display1-img img {
    margin-left: 10%;
    max-width: 80%;
    max-height: 90%;
}

.display2-content {
    position: relative;
    top: 80px;
    width: 70%;
    margin: 0 auto;
    height: 50%;
}
.display2-content-1 {
    color: green;
    font-size: 1.5rem;
    font-weight: bold;
}
.display2-content2 {
    margin-top: 30px;
    width: 380px;
    font-size: 3rem;
    font-weight: bold;
}
.display2-content3 {
    width: 500px;
    font-weight: bold;
    margin-top: 30px;
    font-size: 1.2rem;
    color: white;
}
.display2-img {
    width: 70%;
    margin: 0 auto;
    height: 50%;
}
.display2-img img {
    max-width: 100%;
    max-height: 100%;
}

.display3-content {
    width: 50%;
    height: 100%;
}
.display3-content img {
    max-width: 70%;
    max-height: 70%;
    margin-top: 50px;
}

.display3-img {
    width: 50%;
    height: 100%;
}
.display3-img img {
    max-width: 80%;
    max-height: 80%;
    margin-top: 50px;
}

.display3-content-1 {
    color: green;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 50px;
}
.display3-content2 {
    width: 320px;
    font-size: 3rem;
    font-weight: bold;
    margin-top: 20px;
}
.display3-content3 {
    color: lightgray;
    font-size: 1.2rem;
    font-weight: bold;
    width: 400px;
    margin-left: 50px;
}
